{% extends 'base.html' %}

{% block content %}

    {% if lista_de_turmas_que_esta_matriculado %}
    
        {% for turma in lista_de_turmas_que_esta_matriculado %}
            <div class="card mb-2" style="width: 30rem;">
                <div class="card-body">
                <h5 class="card-title">{{ turma.curso }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Curso ministrado por {{ turma.instrutor.first_name }} {{ turma.instrutor.last_name }}</h6>
                <p class="card-text">{{ turma.curso.descricao }}</p>
                <a href="#" class="card-link">Mais informações</a>
                </div>
            </div>
        {% endfor %}

    {% endif %}


{% endblock content %}
