{% extends 'base.html' %}

{% block content %}

    {% if todos_os_cursos %}

        <h2 class="text-center">Lista de cursos da Escola de Cursos</h2>
    
        {% for curso in todos_os_cursos %}
            <div class="card mb-2" style="width: 30rem;">
                <div class="card-body">
                <h5 class="card-title">{{ curso }}</h5>
                <p class="card-text">{{ curso.descricao }}</p>
                <a href="#" class="card-link">Escolha a sua turma e matricule-se agora!</a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h1 class="text-center mt-3">Não existem cursos cadastrados na plataforma</h1>

    {% endif %}

{% endblock content %}
