{% extends 'base.html' %}

{% block content %}
    <div class="row d-flex justify-content-center">
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for title, message in form.errors.items %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        {% endif %}
        <div class="col-3">
            <form class="login-form mt-5 pt-5" action="{% url 'password_reset' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Digite o seu e-mail">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
